body{
    margin: 0;
    padding:0;
}

.viewContainer{
   text-align: center;
}

button{
    background:#0F7EC7;
    border: none;
    border-radius: 50px;
    color:white;
    opacity: 75%;
    font-family: Segoe UI;
}

input{
    opacity: 75%;
    font-family: Segoe UI;
    text-align: center;
}

.inputContainer{
    margin: 2.5%;
}

.Title{
    font-size: 100px;
    color: #0F7EC7;
    text-shadow: 0 15px 10px black;
    font-family: Snap ITC;
    padding-top: 100px;
}
.secondTitle{
    color: white;
    font-size: 50px;
    font-family: Segoe UI;
    text-shadow: 0 10px 10px black;
}
.link a{
    color: black;
    font-size: 500px;
    font-family: Segoe UI;
    font-size: 60px;
}