.viewContainerCustom{
    background: url('../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;;
}
input{
    width: 80%;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 0.75;
    font-size: 50px;
    font-family: Semibold, Segoe, UI;

}
button{
    width: 50%;
    height: 100px;
    font-size: 50px;
    margin-top: 5%;
}
.middleBlock{
    min-height: max-content;
    margin-top: 100px;

}
.formTitle{
    padding-bottom: 25px;
}
.bottomBlock{
    margin-top: 0px;
    position: relative;

}

.marginset{
    margin-top: -100px;
}

.formprofiel{
    background: #FFFFFF52 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 0.75;
    width: 80%;
    left: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

.birthdatetitle{
    font-size: 50px;
}

.profielbutton{
    top: 745px;
    left: 0%;
    width: 33%;
    height: 150px;
    background: #0F7EC7;
    display: inline-block;
}
.mapbutton{
    top: 745px;
    width: 33%;
    height: 150px;
    background: #66A1C7;
    display: inline-block;

}
.instellingenbutton{
    top: 745px;
    width: 33%;
    height: 150px;
    background: #66A1C7;
    display: inline-block;
}

.footerimages{
    padding-top: 25px;
}

.topimage {
    position: relative;
    top: -190px;
    left: 240px;
    width: 300px;
    height: 300px;
    background: #FFFFFF;
    border: 3px solid #0F7EC7;

    border-radius: 50%;
}

.middleBlock{
    margin-top: 200px;
}

.profielimage{
    position: relative;
    margin-top: -430px;

    width: 160px;
    height: 145px;



}