* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.viewContainerCustom{
    background: url('../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;;
}
input{
    width: 50%;
    height: 100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0px solid #707070;
    opacity: 0.75;
    font-size: 50px;
    position: relative;
    left: 10px;
    font-family: Segoe UI;



}

input:focus{
    outline: none;
}

button{
    width: 45%;
    height: 100px;
    font-size: 50px;
    margin-top: 5%;
}
.middleBlock{
    min-height: max-content;
    margin-top: 100px;
    padding-bottom: 200px;
}
.formTitle{
    padding-bottom: 25px;
}
.profielimage{
    position: relative;
    margin-top: -410px;
    width: 160px;
    height: 145px;
    left: 510px;
}

.inputContainer{
    background-color: #FFFFFF;
    border: 2px solid #707070;
    text-align: left;
}

.marginset{
    margin-top: -100px;
}

.formprofiel{
    background: #FFFFFF52 0% 0% no-repeat padding-box;
    border: 2px solid #707070;
    opacity: 0.75;
    width: 70%;
    left: 15%;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;

}

.birthdatetitle{
    font-size: 45px;
    left: 30px;
    position: relative;
    font-family: Segoe UI;
    text-align: left;
}

.firstname{
    text-align: right;
    left: 80px;
}

.insertion{
    text-align: right;
    left: 77px;
    width: 38%;
}

.lastname{
    text-align: right;
    left: 70px;
    width: 45%;
}

.email{
    text-align: right;
    left: 60px;
    width: 60%;
}

.level{
    text-align: right;
    left: 155px;
}

.birthdate{
    text-align: right;
    left: 40px;
}


.topimage {
    position: relative;
    top: -190px;
    left: 460px;
    width: 250px;
    height: 250px;
    background: #FFFFFF;
    border: 3px solid #0F7EC7;

    border-radius: 50%;
}

.middleBlock{
    margin-top: 150px;
}

#navOpenButton{
    position: absolute;
    right: 10px;
    z-index: 1;
}

.sidenav {
    height: 25%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0F7EC7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border: 2px solid #ccc;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}





/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}

#uitlog{
    height: 40px;
    width: auto;
    background-color: #0F7EC7;
    color: #FFFFFF;
    opacity: 1;
    font-size: 25px;
    left: 0;
    text-decoration: none;
    display: block;
    font-family: times newroman;
}