html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.viewContainerCustom{
    background: url('../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;;
}

input{
    width: 60%;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    font-size: 50px;
    font-family: Segoe, UI;

}

html{
    margin: 0;
    padding: 0;
}

#navOpenButton{
    position: absolute;
    right: 10px;
    z-index: 1;
}

.sidenav {
    height: 25%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0F7EC7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border: 2px solid #ccc;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


button{
    width: 50%;
    height: 100px;
    font-size: 50px;
    margin-top: 5%;
}

.middleBlock{
    min-height: max-content;


}

.formTitle{
    padding-bottom: 25px;
}

.bottomBlock{
    padding-bottom: 40px;
}

.formregister{
    background: #FFFFFF52 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 0.75;
    width: 80%;
    left: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

.birthdatetitle{
    font-size: 50px;
}

.passwordshow {
    height: 25px;
    position: absolute;
    left: 1130px;
    top: 750px;
    opacity: 0.5;
}
.passwordshow2 {
    height: 30px;
    position: absolute;
    left: 1130px;
    top: 750px;
    opacity: 0.5;
}

.passwordshow3 {
    height: 25px;
    position: absolute;
    left: 1130px;
    top: 850px;
    opacity: 0.5;
}
.passwordshow4 {
    height: 30px;
    position: absolute;
    left: 1130px;
    top: 850px;
    opacity: 0.5;
}

#uitlog{
    height: 40px;
    width: auto;
    background-color: #0F7EC7;
    color: #FFFFFF;
    opacity: 1;
    font-size: 25px;
    left: 0;
    text-decoration: none;
    display: block;
    font-family: times newroman;
    border: none;
}

.sideNav a{
    left: 0px;
}