@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body{
    margin: 0;
    padding:0;
}

.viewContainer{
   text-align: center;
}

button{
    background:#0F7EC7;
    border: none;
    border-radius: 50px;
    color:white;
    opacity: 75;
    font-family: Segoe UI;
}

button:hover{
    cursor: pointer;
}
input{
    opacity: 75;
    font-family: Segoe UI;
    text-align: center;
    opacity: 0.75;
}

.inputContainer{
    margin: 2.5%;
}
.clearLink{
    text-decoration: none;
    color: white;
}
.Title{
    font-size: 100px;
    color: #0F7EC7;
    padding-top: 100px;
    font-weight: 900;
    font-family: Segoe UI;
    text-shadow: 2px 2px 10px black;
}
.secondTitle{
    color: white;
    font-size: 50px;
    font-family: Segoe UI;
    text-shadow: 0 10px 10px black;
    font-weight: bold;
}
.link a{
    color: black;
    font-family: Segoe UI;
    font-size: 60px;
}

.spaceUnder{
    margin-bottom: 50px;
}

.thirdTitle{
    color: white;
    font-family: Segoe UI;
    font-size: 40px;
    text-shadow: 0 10px 10px black;
}

.text{
    color: #000000;
    font-size: 30px;
    font-family: Segoe UI;
    font-weight: 50px;
}

.lightGreen{
    background: #0BD26F;
}
.greenNotification{
    color: #097740;
}
.green{
    background: #097740;
}
.redNotification{
    color:rgb(20, 20, 20);
}
.notification{
    margin-left: 140;
}
.notification P{
    font-family: Segoe UI;
    font-weight: 500;
    font-size: 40px;
    position: fixed;
    background: #FFFFFF52 0% 0% no-repeat padding-box !important;
    padding: 1%;
}