.viewContainerCustom {
  background: url('../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  ;
}

.home {
  background: rgba(255, 255, 255, 0.3);
  width: 80%;
  min-height: 50vh;
  margin: 100px auto;
  padding: 2.5%;
  border-radius: 20px;
}

.titleBlockTop {
  margin-bottom: -75px;
}

button {
  width: 50%;
  height: 100px;
  font-size: 50px;
  margin-top: 5%;
}

/* Popup container - can be anything you want */

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5%;
}

/* The actual popup */

.popup .popuptext {
  visibility: hidden;
  width: 600px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 50%;
  position: absolute;
  z-index: 1;
  bottom: 300%;
  left: -175%;
  margin-left: -80px;
  font-size: 40px;
}

/* Popup arrow */

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}