body{
    background: #D1DDE5;
    padding-bottom: 100px;
}

.scaverageList{
    width: 100%;
}

.scaverageItem{
    height: 800px;
    background: red;
    margin: 100px auto;
    padding: 5%;
    box-shadow: 2px 3px 60px black;
    border-radius: 25px;
    width: 75%;
}

.scaverageItemTitle{
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: Segoe UI;
    font-weight: 500;
    margin-top: 50px;
}

.scaverageItemIcon{
    text-align: center;
}

.scaverageItemIcon img{
    text-align: center;
    width:250px;
}

.scaverageItemButton{

}

