.viewContainerCustom{
    background: url('../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;;
}
input{
    width: 50%;
    height: 100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0px solid #707070;
    opacity: 0.75;
    font-size: 50px;
    position: relative;
    left: 10px;
    font-family: Segoe UI;



}

input:focus{
    outline: none;
}

button{
    width: 45%;
    height: 100px;
    font-size: 50px;
    margin-top: 5%;
}
.middleBlock{
    min-height: max-content;
    margin-top: 100px;

}
.formTitle{
    padding-bottom: 25px;
}
.profielimage{
    position: relative;
    margin-top: -430px;
    width: 160px;
    height: 145px;
}

.inputContainer{
    background-color: #FFFFFF;
    border: 2px solid #707070;
    text-align: left;
}

.marginset{
    margin-top: -100px;
}

.formprofiel{
    background: #FFFFFF52 0% 0% no-repeat padding-box;
    border: 2px solid #707070;
    opacity: 0.75;
    width: 80%;
    left: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;

}

.birthdatetitle{
    font-size: 45px;
    left: 30px;
    position: relative;
    font-family: Segoe UI;
}

.topimage {
    position: relative;
    top: -190px;
    left: 240px;
    width: 300px;
    height: 300px;
    background: #FFFFFF;
    border: 3px solid #0F7EC7;

    border-radius: 50%;
}

.middleBlock{
    margin-top: 200px;
}

.iconInputProfiel{
    height: 65px;
    position: absolute;
    left: 680px;
    top: 260px;
    opacity: 0.75;
}
.iconInputProfiel2{
    height: 65px;
    position: absolute;
    left: 680px;
    top: 380px;
    opacity: 0.75;
}

.iconInputProfiel3{
    height: 65px;
    position: absolute;
    left: 680px;
    top: 500px;
    opacity: 0.75;
}

.iconInputProfiel4{
    height: 65px;
    position: absolute;
    left: 680px;
    top: 625px;
    opacity: 0.75;
}

.iconInputProfiel5{
    height: 65px;
    position: absolute;
    left: 680px;
    top: 750px;
    opacity: 0.75;
}

.iconInputProfiel6{
    height: 65px;
    position: absolute;
    left: 680px;
    top: 870px;
    opacity: 0.75;
}



